<footer class="container-fluid d-flex align-items-center justify-content-center">
    
    <div class="title d-flex">
        <p>Template by <a href="http://ivansanmartin.github.io/" target="_blank" rel="noopener noreferrer">Iván San Martín</a> - 2023</p>
    </div>

</footer>