<header class="container-fluid d-flex align-items-center">
    <div class="container fs-5">
        <ul class="nav nav-underline">
            <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/">Binary Decimal API</a>

            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://ivansanmartin.github.io/" target="_blank">Iván San Martín</a></li>
                <li><a class="dropdown-item" href="https://github.com/ivansanmartin" target="_blank">GitHub</a></li>
                </ul>
            </li>
          

        </ul>

    </div>
</header>